###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# file to import
/src/Import/cave.csv

# used by Docker
/logs
/data

# Python
__pycache__

# IDE
.idea
