###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

# import files
import_data

# used by Docker
/logs
/data

# Python
__pycache__

# IDE
.idea

/.php_cs.cache
