{% extends '::base.html.twig' %}

{% block body %}
    <p>COUCOUC</p>
    <ul>
        {% for wine in wines %}
            <li>{{ wine.name ~ ' (' ~ wine.vintage ~ ')' }}</li>
        {% endfor %}
    </ul>
{% endblock %}
